<div class="container mt-4 title">
    <div class="row">
        <div class="col">
            <h1>

                    <i class="fa-sharp fa-solid fa-plus"></i> &nbsp;
                    Edit Contact Page
            </h1>

            <p style="text-align: justify;">demo,Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi sequi
                voluptatem, consequuntur ipsam,
                exercitationem natus neque soluta ducimus quas, quidem illum veniam tempora numquam nam facere debitis
                aliquam quibusdam tempore.,Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora totam quam
                facilis quibusdam rem facere placeat aperiam, exercitationem architecto deserunt iste iure impedit.
                Recusandae natus harum, rem dolorum eos suscipit!</p>
        </div>
    </div>
    <!-- add contact -->
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <form class="border p-3 rounded">
                    <div class="nm-2">
                        <input placeholder="Name" type="text" class="form-control1">
                    </div>
                    <div class="nm-2">
                        <input placeholder="Photo URL" type="text" class="form-control1">
                    </div>
                    <div class="nm-2">
                        <input placeholder="Email Id" type="text" class="form-control1">
                    </div>
                    <div class="nm-2">
                        <input placeholder="Mobile Number" type="text" class="form-control1">
                    </div>
                    <div class="nm-2">
                        <input placeholder="Company" type="text" class="form-control1">
                    </div>
                    <div class="nm-2">
                        <input placeholder="Title" type="text" class="form-control1">
                    </div>
                    <div class="nm-2">
                        <select name="" id=""  class="form-control">
                            <option value="" selected hidden disabled>Select a group</option>
                            <option value="">Family</option>
                            <option value="">Friends</option>
                        </select>
                    </div>
                    <div>
                        <input type="button" value="Update" class="btn btn-success">
                        <a routerLink="/" class="btn btn-warning ms-3">Close</a>
                    </div>
                </form>
            </div>
            <div class="col-md-4">
                <img src="https://previews.123rf.com/images/kebox/kebox1808/kebox180800020/107319423-businessman-symbol-flat-icon-in-circle-for-contact-consulting-or-staff.jpg"
                alt="no image" class="contact_image mt-2">

            </div>
        </div>
    </div>
</div>

